@font-face {
font-family: 'SF Pro Text';
font-style: normal;
font-weight: 300;
src:
local('SF Pro Text')
url('fonts/SFProText-light.woff2'), format('woff2'),
url('fonts/SFProText-light.woff'), format('woff'),
url('fonts/SFProText-light.ttf'), format('ttf'),
url('fonts/SFProText-light.eot'), format('eot'),
}